*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  margin: 0;
  background: #6589F9;
  background: url('https://images.unsplash.com/photo-1499415479124-43c32433a620?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80') no-repeat;
  background-position: center;  
}


.displayMatch{
  border: solid white 2px;
  border-radius: 10px;
  background: radial-gradient(#fc15ca, #e9c2e0) ;
  max-width: 15%;
  max-height: 10%; 
  margin:0;
  margin-top:5%;
  margin-left: 5%;
  margin-bottom: 5%;
  padding: 2%;
  color:rgb(78, 29, 68);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.innerDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.win{

  margin: 20px 0;
  background: white;
  background:url('img/win.png') no-repeat;
  background-position: center;
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}



.extra{
  opacity: 0;
}

.card {
  margin: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 150px;
  width: 150px;
  
}
.selected {
  border-top: 4px solid black;
  border-left: 4px solid black;
}

.match {
  opacity: 0;
  background-image: none !important;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: 150px;
  width: 150px;
}
.front {
  position: absolute;
  backface-visibility: hidden;
  border: none;
  background:  url('img/question.svg') no-repeat center, linear-gradient(#fc15ca, #9198e5);
  background-size: 70%;
  
  

}


.back {
  transform: rotateY(180deg);
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.selected {
  transform: rotateY(180deg);
};

.match .front {
  background: blue !important;
  opacity: 0;
};


