*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  margin: 0;
  padding: 2%;
  background: url("https://images.unsplash.com/photo-1543062094-d22540cadf2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.wrapper::before,
.wrapper::after {
box-sizing: border-box;
}

.wrapper{
  margin: 0;
  padding-bottom:  5%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.displayMatch{
  border: solid white 4px;
  border-radius: 10px;
  background: #ded0f4;
  max-width: 20%;
  max-height: 10%; 
  margin:0;
  margin-bottom: 5%;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.innerDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.win{

  margin: 20px 0;
  background: white;
  background:url('img/win.png') no-repeat;
  background-position: center;
  background-size:50%;
}

.grid {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.extra{
  opacity: 0;
}

.card {
  margin: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 150px;
  width: 150px;
  
}

.match {
  opacity: 0;
  background-image: none !important;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 4px;
}

.card,
.back,
.front {
  height: 150px;
  width: 150px;
}
.front {
  position: absolute;
  backface-visibility: hidden;
  border: none;
  background:  url('img/question.svg') no-repeat center, linear-gradient(#f3edf2, #9198e5);
  background-size: 70%;
  
  

}


.back {
  transform: rotateY(180deg);
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.selected {
  transform: rotateY(180deg);
  border-top: 4px solid black;
  border-left: 4px solid black;
};

.match .front {
  background: blue !important;
  opacity: 0;
};

@media screen and (max-width: 1000px) {
  body{
   background: red;  
  }
}
